@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
	padding: 25px 0;
}

label {
	margin-right: .3em;
	width: 135px;
	display: inline-block;
	text-align: right;
	font-family:Helvetica;
}

#formcol1 li {
	list-style:none;
}

strong {
	color:red;
}

h1 {
	font-size:40px;
	font-weight:bold;
	font-family:Helvetica;
	color:black;
}

p {
	font-family:Helvetica;
}

legend {
	font-size:20px;
	font-family:Helvetica;
	color: #fff;
	background-color: #152238;
	padding: 11px;

}

#formcol1 input.reqfield {
	background: #FF9;
}

#multchoice label {
	width: 60px;
	text-align:justify;
	
}

select:focus, select:active, input:focus, input:active, input:focus + label,
input:active + label, label[for]:focus, label[for]:active {
color: black !important;
background-color: #add8e6 !important;

/* end of form css */